<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.registerloginexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/thaippf"
        android:label="하나님의 언약의 사람들"
        android:roundIcon="@drawable/thaippf"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustResize">

        <activity android:name=".httpUtil.LoginActivity" /> <!--  로그인 진행-->
        <activity android:name=".activity.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".httpUtil.RegisterActivity" /> <!-- 회원가입 진행-->
        <activity android:name=".activity.MainActivity">

            <!--    <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter> -->


        </activity>
        <activity android:name=".activity.SogaeAct"></activity>
        <activity android:name=".Unuse.FirstScreen"></activity>
        <activity
            android:name=".activity.SosicActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".activity.PrayActivity"></activity>
        <activity android:name=".activity.DangiActivity"></activity>
        <activity android:name=".WebView.ComesnsActivity"></activity>
        <activity android:name=".WebView.WebViewActivity"></activity>
        <activity android:name=".WebView.FacebookActivity"></activity>
        <activity android:name=".WebView.BlogActivity"></activity>
        <activity android:name=".WebView.YoutubeActivity"></activity>
        <activity android:name=".activity.HuwonActivity"></activity>
        <activity android:name=".activity.BibleActivity"></activity>


        <activity android:name=".activity.DetailActivity"></activity>
        <activity android:name=".activity.Firstiv"></activity>
        <activity android:name=".activity.MissinaryPrepare_Act"></activity>


    </application>

</manifest>